
/*-----FUENTES------*/
@font-face {
    font-family: "SPECTRALSC-REGULAR";
    src: url(../fuentes/SpectralSC-Regular.ttf);
  }
  @font-face{
    font-family: "URBANIST";
    src: url(../fuentes/Urbanist-VariableFont_wght.ttf);
  }
  @font-face{
    font-family: "REDRESSED";
    src: url(../fuentes/Redressed-Regular.ttf);
  }
  @font-face{
    font-family: "SPECTRALSC";
    src: url(../fuentes/SpectralSC-ExtraLight.ttf);
  }
  @font-face{
    font-family: "VIDALOKA";
    src: url(../fuentes/Vidaloka-Regular.ttf);
  }
  @font-face{
    font-family: "KANIT";
    src: url(../fuentes/Kanit-Thin.ttf);
  }