/*--------footer-------

footer {
  background-color: rgba(0, 0, 0, 0.247); 
  padding: 10px;  
  .arrowupcircle{
    position: fixed;
    bottom: 2%;
    right: 2%;
    width: 50px;
  }
  p{
    text-align: center;
    padding-top: 2%;
    font-weight: bold;
  }
  .footer1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .footer2{
      color: #535353; 
      transition: color 0.3s;
      margin-left: 10%;
      & :hover {
        color: orange; 
        cursor: pointer;
      }
      a{
        padding-right: 50px;
        text-decoration: none;
        color: #000000;
        font-weight: bold;
        font-size: 20px;
      }
      
    }
    .footer3{
      margin-left: 30%;
      a{
        margin-right: 20px;         
      }
      img{
        width: 40px;
        }
      }
    }    
  }
  --------*/
  .footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
  
    .social-icons {
      display: flex;
      justify-content: center;
  
      a {
        padding: 10px;   
        img {
          width: 40px; 
          transition: transform 0.3s;
          &:hover {
            transform: scale(1.5); 
          }
        }
      }
    }
  
    .links {
      display: flex;
      flex-wrap: wrap;

      a {
        color: white;
        text-decoration: none;
        margin: 15px;
        &:hover {
          color: orange;
        }
      }
    }
  
    @media screen and (max-width: 768px) {
      .social-icons, .links {
        flex-direction: column; 
      }
      a {
        padding: 10px; 
        margin: 5px; 
      }
      img {
        width: 30px; 
    }
  }
  
  .copyright {
    text-align: center;
    padding: 10px 0;
  }
}
