.containerindex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  
    @media only screen and (max-width: 768px) {
      flex-direction: column;
    }
  
    .contentindex, .image {
      width: 45%;
  
      @media only screen and (max-width: 768px) {
        width: 100%;
      }
    }
  
    .contentindex {
      padding: 10px;
      font-size: 16px;
      line-height: 1.5;
    }
  
    .imageindex {
      width: 50%;
  
      img {
        width: 100%;
        height: auto;
      }
  
      @media only screen and (max-width: 768px) {
        width: 100%;
  
        img {
          width: 80%;
          height: auto;
        }
      }
    }
  }
 
  $border-radius: 10px;

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  padding: 10px;
  
  video {
    max-width: 80%;
    height: auto;
    border-radius: $border-radius;
  }
  
  @media (max-width: 768px) {
    video {
      border-radius: $border-radius;
    }
  }
}