/*ORDEN DE PAGINAS
1-INDEX
2-MENU
3-SUSHI
4-PIZZA
5-CARNES
6-INCIAR SESION
7-SOBRE NOSTROS*/



  /*------------------------------*/
  html{
    body{

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

@import "fonts";
@import "header";
@import "footer";
@import "index";

hr {
  width: 80%;
  height: 7px;
  background-color: black;
  margin: 20px auto; 
  
  @media screen and (max-width: 768px) {
    width: 90%; 
    
  }
}

/*-----------PAGINA 1----------- */



/*IMAGEN PRINCIPAL*/
.wrap{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, rgb(0 0 0/ 1),rgb(0 0 0/ .25)),url(../imagenes/fotoprincipal.jpg);
  background-size: cover;
  background-position: center;
  .wrap-texto{
    color: #c7c7c7;
    text-align: center;
    .textoimg{
      font-size: 150%;
    }
    .taberu{
      font-size: 500%;
      color: #c7c7c7;
    }
  }
}

/*-----MAIN----*/
section {
  display: flex;
  background-color: #ffffff;  
  padding: 3%;

    .imgrayador {
    margin: 5%;
    width: 50%;
    flex: 50%;
    }
    article {
      background-color: #e2e2e2; 
      justify-content: center;
      text-align: center;
      border: 3px solid black;
      margin: auto;
      padding: 5%;
      flex: 50%;
      margin-left: 5%; 
      margin-right: 5%;
      h1{
        font-size: 150%;
        font-weight: bold;
        color: rgb(71, 71, 71);      
      }
      p{
        font-size: 100%;
        color: #858585;
        font-weight: bold;
      }
      }   
}

    .flex-container2pg1 {
      display: flex;
      text-align: center;
      margin-bottom: 2%;      
      .flexpg1-item-left {
        padding: 3%;
        flex: 40%;
        width: 60vw;
        height: 100vh;
      }
      .flexpg1-item-right {
        padding: 3%;
        flex: 40%;   
        width: 60VW;   
        height: 100vh;
      }
    }
    
    
    
    @media (max-width: 768px) {
      .flex-container1pg1 {
        flex-direction: column;
      }
      .flex-container1pg1 > section p{
        font-size: 50%;
      }
      .flex-container1pg1 > .section1p1 h1{
        font-size: 100%;
      }
      .flex-container2pg1 {
        flex-direction: column;
      }
      .flexpg1-item-left {
      width: 100%;
      }
      
      .flexpg1-item-right {
      width: 100%;
    }
  }





/*---------PAGINA 2----------*/


.rowpagina2{
  display: flex;  
  color: #c7c7c7;
  .buttonpg2{
    background-color: none;
    color: rgb(161, 161, 161);
    border: 2px solid #e7e7e7;
    padding: 2%;
    border-radius: 10px;
  }   
  
  .column1pagina2{
    flex: 33%;
    background-image: url(../imagenes/fotosushipagina2.jpg);
    height: 100vh; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0.5%;   
    text-align: center; 
    padding-top: 10%;
    h1{
      font-size: 400%;
      font-family: "SPECTRALSC-REGULAR";
    }
  }
    
  .column2pagina2{
    flex: 33%;
    background-image: url(../imagenes/fotopizzapagina2.jpg);
    height: 100vh; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0.5%; 
    text-align: center; 
    padding-top: 10%; 
    h1{
      font-size: 400%;
      font-family: "SPECTRALSC-REGULAR";
    }     
    
  }
  .column3pagina2{
    flex: 33%;
    background-image: url(../imagenes/fotocarnepagina2.jpg);
    height: 100vh; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    margin: 0.5%; 
    text-align: center; 
    padding-top: 10%;  
    h1{
      font-size: 400%;
      font-family: "SPECTRALSC-REGULAR";
    }   
  }
}

@media (max-width: 768px){
  .rowpagina2{
    flex-wrap: wrap;
  }
  .column1pagina2{
    flex: 100%;
  }
  .column2pagina2{
    flex: 100%;
  }
  .column3pagina2{
    flex: 100%;
  }
}


/*-----------PAGINA3---------*/

  /*-----MENU PRINCIPAL SUSHI------*/
  .fotoprincipalsushipg3{
    width: 100%;
    height: auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 20px;
    @media (max-width: 768px) {
      .imagen {
          width: 100%;
          height: auto;
      }
  }
}
  .flex-informacionsushipg3{

    display: flex;
    align-items: center;

    .textosushipg3{
      padding: 50px;
      align-items: center;
      text-align: center;
      flex: 50%;

      h1{      
      padding: 10px;
      font-size: 10vw;
      }
      p {      
      padding: 10px;
      font-size: 1.3vw;
      }
    }
    .fotoprincipal2sushipg3{
      flex: 50%;
      padding: 10px;
      
      img{
        width: 50%;
        border-radius: 5%;
      }
    } 
    @media (max-width: 768px){
      .flex-informacionsushipg3{
      flex-direction: column;
      }
      .textosushipg3{
        flex: 100%;
        margin-bottom: 3%;
        padding: 0%;
      }
      .textosushipg3 > h1{
      font-size: 50vw;
      }
      .textosushipg3 > p{
      font-size: 10vw;
      }
      
      .fotoprincipal2sushipg3{
        flex: 50%;
      }
      .fotoprincipal2sushipg3, img{
        width: 50px;
      }
      }
  }
  


/*ICHISOU*/

.ichisou {
  font-family: 'Kanit', sans-serif;
  font-size: 12rem;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 10px;

  @media (max-width: 768px){
      font-size: 2rem;
  }
  
  @media (max-width: 576px){
      font-size: 1.5rem;
  }
}

.containerichisou {
  display: flex;
  padding: 10px;

  .contentichisou {
    flex: 1;
    padding: 10px;
      p{
        padding-top: 15%;
        font-size: 245%
      }
  }

  .imageichisou {
    flex: 1;
    padding: 10px;
      img {
        max-width: 90%;
        height: auto;
        border-radius: 8%;
      }
  }
}
@media (max-width: 768px) {
  .containerichisou {
    flex-direction: column;
    text-align: center;
    align-items: center;
    .contentichisou, p {
      font-size: 40%;
    }
    .contentichisou, .imageichisou {
        width: 80%;
    }
}
}

.galleryichisou {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }
}



/*OSAKA*/
.osaka {
  font-family: 'Kanit', sans-serif;
  font-size: 20rem;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 10px;

  @media (max-width: 768px){
      font-size: 2rem;
  }
  
  @media (max-width: 576px){
      font-size: 1.5rem;
  }
}

.containerosaka {
  display: flex;
  padding: 10px;

  .contentosaka {
    flex: 1;
    padding: 10px;
      p{
        padding-top: 15%;
        font-size: 200%;
      }
  }

  .imageosaka {
    flex: 1;
    padding: 10px;
      img {
        max-width: 90%;
        height: auto;
        border-radius: 10%;
      }
  }
}
@media (max-width: 768px) {
  .containerosaka {
      flex-direction: column;
      text-align: center;
      align-items: center;
      .contentosaka, p {
        font-size: 40%;
      }
      .contentosaka, .imageosaka {
          width: 70%;
      }
  }
}

.galleryosaka {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }
}

/*TENKUU*/
.tenkuu {
  font-family: 'Kanit', sans-serif;
  font-size: 12rem;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 10px;

  @media (max-width: 768px){
      font-size: 2rem;
  }
  
  @media (max-width: 576px){
      font-size: 1.5rem;
  }
}

.containertenkuu {
  display: flex;
  padding: 10px;

  .contenttenkuu {
    flex: 1;
    padding: 10px;
      p{
        padding-top: 15%;
        font-size: 245%
      }
  }

  .imagetenkuu{
    flex: 1;
    padding: 10px;
      img {
        max-width: 90%;
        height: auto;
        border-radius: 8%;
      }
  }
}
@media (max-width: 768px) {
  .containertenkuu {
    flex-direction: column;
    text-align: center;
    align-items: center;
    .contenttenkuu, p {
      font-size: 40%;
    }
    .contenttenkuu, .imagetenkuu {
        width: 80%;
    }
}
}


.gallerytenkuu {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }
}

/*-----------PAGINA 4---------*/

  /*-----MENU PRINCIPAL PIZZA------*/
  .fotoprincipalpizzapg4{
    width: 100%;
    height: auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 20px;
    @media (max-width: 768px) {
      .imagen {
          width: 100%;
          height: auto;
      }
  }
}
  .flex-informacionpizzapg4{
    display: flex;
    align-items: center;

    .textopizzapg4{
      padding: 50px;
      align-items: center;
      text-align: center;
      flex: 50%;

      h1{      
      padding: 10px;
      font-size: 10vw;
      }
      p {      
      padding: 10px;
      font-size: 1.3vw;
      }
    }
    .fotoprincipal2pizzapg4{
      flex: 50%;
      padding: 10px;
      
      img{
        width: 50vw;
        border-radius: 5%;
      }
    } 
    @media (max-width: 768px){
      .flex-informacionpizzapg4{
      flex-wrap: wrap;
      }
      .textopizzapg4{
        flex: 100%;
        margin-bottom: 3%;
      }
      .textopizzapg4 > h1{
      font-size: 50vw;
      }
      .textopizzapg4 > p{
      font-size: 10vw;
      }
      
      .fotoprincipalpizzapg4{
        flex: 100%;
      }
      }
  }
  

hr {
  width: 80%;
  height: 7px;
  background-color: black;
  margin: 20px auto; 
  
  @media screen and (max-width: 700px) {
    width: 90%; 
  }
}
/*EL CUARTITO*/
.elcuartito {
  font-family: "REDRESSED";
  font-size: 15rem;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 10px;

  @media (max-width: 768px){
      font-size: 2rem;
  }
  
  @media (max-width: 576px){
      font-size: 1.5rem;
  }
}

.containerelcuartito {
  display: flex;
  padding: 10px;
  align-items: center;
  text-align: center;

  .contentelcuartito {
    flex: 1;
    padding: 10px;
      p{
        padding-top: 15%;
        font-size: 160%;
      }
  }

  .imagecuartito {
    flex: 1;
    padding: 10px;
      img {
        max-width: 90%;
        height: auto;
        border-radius: 10%;
      }
  }
}
@media (max-width: 768px) {
  .containerelcuartito {
      flex-direction: column;
      text-align: center;
      align-items: center;
      .contentelcuartito, p {
        font-size: 40%;
      }
      .contentelcuartito, .imagecuartito {
          width: 70%;
      }
  }
}
.galleryelcuartito {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }
}

/*LA MEZZETA*/
.lamezzeta {
  font-family: "REDRESSED";
  font-size: 15rem;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 10px;

  @media (max-width: 768px){
      font-size: 2rem;
  }
  
  @media (max-width: 576px){
      font-size: 1.5rem;
  }
}

.containerlamezzeta {
  display: flex;
  padding: 10px;
  align-items: center;
  text-align: center;

  .contentlamezzeta {
    flex: 1;
    padding: 10px;
      p{
        padding-top: 15%;
        font-size: 160%;
      }
  }

  .imagelamezzeta{
    flex: 1;
    padding: 10px;
      img {
        max-width: 90%;
        height: auto;
        border-radius: 10%;
      }
  }
}
@media (max-width: 768px) {
  .containerlamezzeta {
      flex-direction: column;
      text-align: center;
      align-items: center;
      .contentlamezzeta, p {
        font-size: 40%;
      }
      .contentlamezzeta, .imagelamezzeta {
          width: 70%;
      }
  }
}

.gallerylamezzeta {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }

}
/*GUERRIN*/
.guerrin {
  font-family: "REDRESSED";
  font-size: 15rem;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 10px;

  @media (max-width: 768px){
      font-size: 2rem;
  }
  
  @media (max-width: 576px){
      font-size: 1.5rem;
  }
}

.containerguerrin {
  display: flex;
  padding: 10px;

  .contentguerrin {
    flex: 1;
    padding: 10px;
      p{
        padding-top: 15%;
        font-size: 200%;
      }
  }

  .imageguerrin{
    flex: 1;
    padding: 10px;
      img {
        max-width: 80%;
        height: auto;
        border-radius: 10%;
      }
  }
}
@media (max-width: 768px) {
  .containerguerrin {
      flex-direction: column;
      text-align: center;
      align-items: center;
      .contentguerrin, p {
        font-size: 40%;
      }
      .contentguerrin, .imageguerrin{
          width: 65%;
      }
  }
}
.galleryguerrin {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }

}

/*-----------PAGINA 5---------*/

  /*-----MENU PRINCIPAL CARNES------*/
  .fotoprincipalcarnepg5{
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    align-items: center;
    @media (max-width: 768px) {
      .imagen {
          width: 100%;
          height: auto;
      }
  }
}
  .flex-informacioncarnepg5{
    display: flex;
    align-items: center;

    .textocarnepg5{
      padding: 50px;
      align-items: center;
      text-align: center;
      flex: 50%;

      h1{      
      padding: 10px;
      font-size: 10vw;
      }
      p {      
      padding: 10px;
      font-size: 1.3vw;
      }
    }
    .fotoprincipal2carnepg5{
      flex: 50%;
      padding: 10px;
      
      img{
        width: 40vw;
        border-radius: 5%;
      }
    } 
    @media (max-width: 768px){
      .flex-informacioncarnepg5{
      flex-wrap: wrap;
      }
      .textocarnepg5{
        flex: 100%;
        margin-bottom: 3%;
      }
      .textocarnepg5 > h1{
      font-size: 50vw;
      }
      .textocarnepg5 > p{
      font-size: 10vw;
      }
      
      .fotoprincipalcarnepg5{
        flex: 100%;
      }
      }
  }
  
/*DON JULIO 2*/
.donjulio {
  font-family: "REDRESSED";
  font-size: 15rem;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 10px;

  @media (max-width: 768px){
      font-size: 2rem;
  }
  
  @media (max-width: 576px){
      font-size: 1.5rem;
  }
}

.containerdonjulio {
  display: flex;
  padding: 10px;

  .contentdonjulio {
    flex: 1;
    padding: 10px;
      p{
        margin-top: 20%;
        padding: 10%;
        font-size: 250%;
        text-align: center;
      }
  }

  .imagedonjulio{
    flex: 1;
    padding: 10px;
      img {
        max-width: 90%;
        height: auto;
        border-radius: 10%;
      }
  }
}
@media (max-width: 768px) {
  .containerdonjulio {
      flex-direction: column;
      text-align: center;
      align-items: center;
      .contentdonjulio, p {
        font-size: 40%;
      }
      .contentdonjulio, .imagedonjulio{
          width: 70%;
      }
  }
}

.gallerydonjulio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }
}
/*FOGON ASADO*/
.fogonasado {
  font-family: "REDRESSED";
  font-size: 15rem;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 10px;

  @media (max-width: 768px){
      font-size: 2rem;
  }
  
  @media (max-width: 576px){
      font-size: 1.5rem;
  }
}

.containerfogonasado {
  display: flex;
  padding: 10px;
  text-align: center;
  align-items: center;

  .contentfogonasado {
    flex: 1;
    padding: 10px;
      p{
        padding-top: 15%;
        font-size: 260%;
        text-align: center;
      }
  }

  .imagefogonasado{
    flex: 1;
    padding: 10px;
      img {
        max-width: 90%;
        height: auto;
        border-radius: 10%;
      }
  }
}
@media (max-width: 768px) {
  .containerfogonasado {
      flex-direction: column;
      text-align: center;
      align-items: center;
      .contentfogonasado, p {
        font-size: 40%;
      }
      .contentfogonasado, .imagefogonasado{
          width: 70%;
      }
  }
}
.galleryfogonasado{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }
}
/*LA CABRERA*/
.lacabrera {
  font-family: "REDRESSED";
  font-size: 15rem;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 10px;

  @media (max-width: 768px){
      font-size: 2rem;
  }
  
  @media (max-width: 576px){
      font-size: 1.5rem;
  }
}

.containerlacabrera {
  display: flex;
  padding: 10px;
  text-align: center;
  align-items: center;

  .contentlacabrera{
    flex: 1;
    padding: 10px;
      p{
        padding: 15%;
        font-size: 150%;
        text-align: center;

      }
  }

  .imagelacabrera{
    flex: 1;
    padding: 10px;
      img {
        max-width: 90%;
        height: auto;
        border-radius: 10%;

      }
  }
}
@media (max-width: 768px) {
  .containerlacabrera {
      flex-direction: column;
      text-align: center;
      align-items: center;
      .contentlacabrera, p {
        font-size: 40%;
      }
      .contentlacabrera, .imagelacabrera{
          width: 70%;
      }
  }
}
.gallerylacabrera{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }
}

/*-------PAGINA 6-------*/

/* INCIAR SESION */

.imagenfondopg7{
  width: 99vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: url(../imagenes/fotofondo1pg7.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.login-container {
  max-width: 300px;
  margin: 100px auto;
  padding: 20px;
  background-color: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  h2 {
    margin-bottom: 20px;
    color: white;
  }
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
}
@media (max-width: 768px) {
  .login-container {
    width: 80%;
  }
}





/*--------PAGINA 7 ---------*/

.sobrenosotros{
  text-align: center;
  background: #000000;
  color: #a3a3a3;
  padding: 5% 10% 5% 10%;
  font-family: "URBANIST";
  .sobrenosotros1{
    font-size: 3rem;
  }
  p{
    font-size: 1.7rem;
    line-height: 3rem;
    font-family: "URBANIST";
  }
  .btn {
    display: inline-block;
    padding: 10px 10px;
    background-color: #6e9dbd;
    color: #fff;
    text-decoration: none;
    font-size: 3rem;
    border-radius: 10px;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #2980b9;
  }
}

}
}