/*ORDEN DE PAGINAS
1-INDEX
2-MENU
3-SUSHI
4-PIZZA
5-CARNES
6-INCIAR SESION
7-SOBRE NOSTROS*/
/*------------------------------*/
html body {
  /*-----FUENTES------*/
  /*-----MENU DE NAVEGACION-------*/
  /*-----------PAGINA 1----------- */
  /*IMAGEN PRINCIPAL*/
  /*-----MAIN----*/
  /*---------PAGINA 2----------*/
  /*-----------PAGINA3---------*/
  /*-----MENU PRINCIPAL SUSHI------*/
  /*ICHISOU*/
  /*OSAKA*/
  /*TENKUU*/
  /*-----------PAGINA 4---------*/
  /*-----MENU PRINCIPAL PIZZA------*/
  /*EL CUARTITO*/
  /*LA MEZZETA*/
  /*GUERRIN*/
  /*-----------PAGINA 5---------*/
  /*-----MENU PRINCIPAL CARNES------*/
  /*DON JULIO 2*/
  /*FOGON ASADO*/
  /*LA CABRERA*/
  /*-------PAGINA 6-------*/
  /* INCIAR SESION */
  /*--------PAGINA 7 ---------*/
}
html body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}
@font-face {
  font-family: "SPECTRALSC-REGULAR";
  src: url(../fuentes/SpectralSC-Regular.ttf);
}
@font-face {
  font-family: "URBANIST";
  src: url(../fuentes/Urbanist-VariableFont_wght.ttf);
}
@font-face {
  font-family: "REDRESSED";
  src: url(../fuentes/Redressed-Regular.ttf);
}
@font-face {
  font-family: "SPECTRALSC";
  src: url(../fuentes/SpectralSC-ExtraLight.ttf);
}
@font-face {
  font-family: "VIDALOKA";
  src: url(../fuentes/Vidaloka-Regular.ttf);
}
@font-face {
  font-family: "KANIT";
  src: url(../fuentes/Kanit-Thin.ttf);
}
html body nav {
  display: flex;
  background-color: #000000;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}
html body nav :hover {
  color: orange;
}
html body nav a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
html body nav a h2 {
  color: rgba(228, 228, 228, 0.8078431373);
  margin-left: 5%;
  font-family: "URBANIST";
  font-size: 300%;
  opacity: 80%;
}
html body nav a img {
  width: 15%;
  margin-right: 2%;
}
html body nav nav {
  display: flex;
}
html body nav nav a {
  text-decoration: none;
  color: rgba(228, 228, 228, 0.8078431373);
  font-size: 20px;
  opacity: 80%;
}
@media (max-width: 700px) {
  html body .header {
    flex-direction: column;
  }
  html body .nav {
    padding: 10px 0px;
  }
  html body .logo-nombre {
    font-size: 100%;
  }
  html body .nav a {
    font-size: 80%;
  }
}
html body .footer {
  background-color: #333;
  color: white;
  padding-top: 10px;
  text-align: center;
}
html body .footer .arrowupcircle {
  position: fixed;
  bottom: 2%;
  right: 2%;
  width: 50px;
}
html body .footer .social-icons {
  display: flex;
  justify-content: center;
  padding: 15px;
}
html body .footer .social-icons a {
  padding: 2px;
}
html body .footer .social-icons a img {
  width: 40px;
  transition: transform 0.3s;
}
html body .footer .social-icons a img:hover {
  transform: scale(1.5);
}
html body .footer .links {
  display: flex;
  padding: 5px;
}
html body .footer .links a {
  color: white;
  text-decoration: none;
  margin: 10px;
}
html body .footer .links a:hover {
  color: orange;
}
@media screen and (max-width: 768px) {
  html body .footer .social-icons, html body .footer .links {
    flex-direction: column;
  }
  html body .footer a {
    padding: 10px;
    margin: 5px;
  }
  html body .footer img {
    width: 30px;
  }
}
html body .footer .copyright {
  text-align: center;
  padding: 10px 0;
}
html body hr {
  width: 80%;
  height: 7px;
  background-color: black;
  margin: 20px auto;
}
@media screen and (max-width: 768px) {
  html body hr {
    width: 90%;
  }
}
html body .wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.25)), url(../imagenes/fotoprincipal.jpg);
  background-size: cover;
  background-position: center;
}
html body .wrap .wrap-texto {
  color: #c7c7c7;
  text-align: center;
}
html body .wrap .wrap-texto .textoimg {
  font-size: 150%;
}
html body .wrap .wrap-texto .taberu {
  font-size: 500%;
  color: #c7c7c7;
}
html body section {
  display: flex;
  background-color: #ffffff;
  padding: 3%;
}
html body section .imgrayador {
  margin: 5%;
  width: 50%;
  flex: 50%;
}
html body section article {
  background-color: #e2e2e2;
  justify-content: center;
  text-align: center;
  border: 3px solid black;
  margin: auto;
  padding: 5%;
  flex: 50%;
  margin-left: 5%;
  margin-right: 5%;
}
html body section article h1 {
  font-size: 150%;
  font-weight: bold;
  color: rgb(71, 71, 71);
}
html body section article p {
  font-size: 100%;
  color: #858585;
  font-weight: bold;
}
html body .flex-container2pg1 {
  display: flex;
  text-align: center;
  margin-bottom: 2%;
}
html body .flex-container2pg1 .flexpg1-item-left {
  padding: 3%;
  flex: 40%;
  width: 60vw;
  height: 100vh;
}
html body .flex-container2pg1 .flexpg1-item-right {
  padding: 3%;
  flex: 40%;
  width: 60VW;
  height: 100vh;
}
@media (max-width: 768px) {
  html body .flex-container1pg1 {
    flex-direction: column;
  }
  html body .flex-container1pg1 > section p {
    font-size: 50%;
  }
  html body .flex-container1pg1 > .section1p1 h1 {
    font-size: 100%;
  }
  html body .flex-container2pg1 {
    flex-direction: column;
  }
  html body .flexpg1-item-left {
    width: 100%;
  }
  html body .flexpg1-item-right {
    width: 100%;
  }
}
html body .rowpagina2 {
  display: flex;
  color: #c7c7c7;
}
html body .rowpagina2 .buttonpg2 {
  background-color: none;
  color: rgb(161, 161, 161);
  border: 2px solid #e7e7e7;
  padding: 2%;
  border-radius: 10px;
}
html body .rowpagina2 .column1pagina2 {
  flex: 33%;
  background-image: url(../imagenes/fotosushipagina2.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0.5%;
  text-align: center;
  padding-top: 10%;
}
html body .rowpagina2 .column1pagina2 h1 {
  font-size: 400%;
  font-family: "SPECTRALSC-REGULAR";
}
html body .rowpagina2 .column2pagina2 {
  flex: 33%;
  background-image: url(../imagenes/fotopizzapagina2.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0.5%;
  text-align: center;
  padding-top: 10%;
}
html body .rowpagina2 .column2pagina2 h1 {
  font-size: 400%;
  font-family: "SPECTRALSC-REGULAR";
}
html body .rowpagina2 .column3pagina2 {
  flex: 33%;
  background-image: url(../imagenes/fotocarnepagina2.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0.5%;
  text-align: center;
  padding-top: 10%;
}
html body .rowpagina2 .column3pagina2 h1 {
  font-size: 400%;
  font-family: "SPECTRALSC-REGULAR";
}
@media (max-width: 768px) {
  html body .rowpagina2 {
    flex-wrap: wrap;
  }
  html body .column1pagina2 {
    flex: 100%;
  }
  html body .column2pagina2 {
    flex: 100%;
  }
  html body .column3pagina2 {
    flex: 100%;
  }
}
html body .fotoprincipalsushipg3 {
  width: 100%;
  height: auto;
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  html body .fotoprincipalsushipg3 .imagen {
    width: 100%;
    height: auto;
  }
}
html body .flex-informacionsushipg3 {
  display: flex;
  align-items: center;
}
html body .flex-informacionsushipg3 .textosushipg3 {
  padding: 50px;
  align-items: center;
  text-align: center;
  flex: 50%;
}
html body .flex-informacionsushipg3 .textosushipg3 h1 {
  padding: 10px;
  font-size: 10vw;
}
html body .flex-informacionsushipg3 .textosushipg3 p {
  padding: 10px;
  font-size: 1.3vw;
}
html body .flex-informacionsushipg3 .fotoprincipal2sushipg3 {
  flex: 50%;
  padding: 10px;
}
html body .flex-informacionsushipg3 .fotoprincipal2sushipg3 img {
  width: 50%;
  border-radius: 5%;
}
@media (max-width: 768px) {
  html body .flex-informacionsushipg3 .flex-informacionsushipg3 {
    flex-direction: column;
  }
  html body .flex-informacionsushipg3 .textosushipg3 {
    flex: 100%;
    margin-bottom: 3%;
    padding: 0%;
  }
  html body .flex-informacionsushipg3 .textosushipg3 > h1 {
    font-size: 50vw;
  }
  html body .flex-informacionsushipg3 .textosushipg3 > p {
    font-size: 10vw;
  }
  html body .flex-informacionsushipg3 .fotoprincipal2sushipg3 {
    flex: 50%;
  }
  html body .flex-informacionsushipg3 .fotoprincipal2sushipg3, html body .flex-informacionsushipg3 img {
    width: 50px;
  }
}
html body .ichisou {
  font-family: "Kanit", sans-serif;
  font-size: 12rem;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 10px;
}
@media (max-width: 768px) {
  html body .ichisou {
    font-size: 2rem;
  }
}
@media (max-width: 576px) {
  html body .ichisou {
    font-size: 1.5rem;
  }
}
html body .containerichisou {
  display: flex;
  padding: 10px;
}
html body .containerichisou .contentichisou {
  flex: 1;
  padding: 10px;
}
html body .containerichisou .contentichisou p {
  padding-top: 15%;
  font-size: 245%;
}
html body .containerichisou .imageichisou {
  flex: 1;
  padding: 10px;
}
html body .containerichisou .imageichisou img {
  max-width: 90%;
  height: auto;
  border-radius: 8%;
}
@media (max-width: 768px) {
  html body .containerichisou {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  html body .containerichisou .contentichisou, html body .containerichisou p {
    font-size: 40%;
  }
  html body .containerichisou .contentichisou, html body .containerichisou .imageichisou {
    width: 80%;
  }
}
html body .galleryichisou {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
html body .galleryichisou img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
html body .osaka {
  font-family: "Kanit", sans-serif;
  font-size: 20rem;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 10px;
}
@media (max-width: 768px) {
  html body .osaka {
    font-size: 2rem;
  }
}
@media (max-width: 576px) {
  html body .osaka {
    font-size: 1.5rem;
  }
}
html body .containerosaka {
  display: flex;
  padding: 10px;
}
html body .containerosaka .contentosaka {
  flex: 1;
  padding: 10px;
}
html body .containerosaka .contentosaka p {
  padding-top: 15%;
  font-size: 200%;
}
html body .containerosaka .imageosaka {
  flex: 1;
  padding: 10px;
}
html body .containerosaka .imageosaka img {
  max-width: 90%;
  height: auto;
  border-radius: 10%;
}
@media (max-width: 768px) {
  html body .containerosaka {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  html body .containerosaka .contentosaka, html body .containerosaka p {
    font-size: 40%;
  }
  html body .containerosaka .contentosaka, html body .containerosaka .imageosaka {
    width: 70%;
  }
}
html body .galleryosaka {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
html body .galleryosaka img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
html body .tenkuu {
  font-family: "Kanit", sans-serif;
  font-size: 12rem;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 10px;
}
@media (max-width: 768px) {
  html body .tenkuu {
    font-size: 2rem;
  }
}
@media (max-width: 576px) {
  html body .tenkuu {
    font-size: 1.5rem;
  }
}
html body .containertenkuu {
  display: flex;
  padding: 10px;
}
html body .containertenkuu .contenttenkuu {
  flex: 1;
  padding: 10px;
}
html body .containertenkuu .contenttenkuu p {
  padding-top: 15%;
  font-size: 245%;
}
html body .containertenkuu .imagetenkuu {
  flex: 1;
  padding: 10px;
}
html body .containertenkuu .imagetenkuu img {
  max-width: 90%;
  height: auto;
  border-radius: 8%;
}
@media (max-width: 768px) {
  html body .containertenkuu {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  html body .containertenkuu .contenttenkuu, html body .containertenkuu p {
    font-size: 40%;
  }
  html body .containertenkuu .contenttenkuu, html body .containertenkuu .imagetenkuu {
    width: 80%;
  }
}
html body .gallerytenkuu {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
html body .gallerytenkuu img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
html body .fotoprincipalpizzapg4 {
  width: 100%;
  height: auto;
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  html body .fotoprincipalpizzapg4 .imagen {
    width: 100%;
    height: auto;
  }
}
html body .flex-informacionpizzapg4 {
  display: flex;
  align-items: center;
}
html body .flex-informacionpizzapg4 .textopizzapg4 {
  padding: 50px;
  align-items: center;
  text-align: center;
  flex: 50%;
}
html body .flex-informacionpizzapg4 .textopizzapg4 h1 {
  padding: 10px;
  font-size: 10vw;
}
html body .flex-informacionpizzapg4 .textopizzapg4 p {
  padding: 10px;
  font-size: 1.3vw;
}
html body .flex-informacionpizzapg4 .fotoprincipal2pizzapg4 {
  flex: 50%;
  padding: 10px;
}
html body .flex-informacionpizzapg4 .fotoprincipal2pizzapg4 img {
  width: 50vw;
  border-radius: 5%;
}
@media (max-width: 768px) {
  html body .flex-informacionpizzapg4 .flex-informacionpizzapg4 {
    flex-wrap: wrap;
  }
  html body .flex-informacionpizzapg4 .textopizzapg4 {
    flex: 100%;
    margin-bottom: 3%;
  }
  html body .flex-informacionpizzapg4 .textopizzapg4 > h1 {
    font-size: 50vw;
  }
  html body .flex-informacionpizzapg4 .textopizzapg4 > p {
    font-size: 10vw;
  }
  html body .flex-informacionpizzapg4 .fotoprincipalpizzapg4 {
    flex: 100%;
  }
}
html body hr {
  width: 80%;
  height: 7px;
  background-color: black;
  margin: 20px auto;
}
@media screen and (max-width: 700px) {
  html body hr {
    width: 90%;
  }
}
html body .elcuartito {
  font-family: "REDRESSED";
  font-size: 15rem;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 10px;
}
@media (max-width: 768px) {
  html body .elcuartito {
    font-size: 2rem;
  }
}
@media (max-width: 576px) {
  html body .elcuartito {
    font-size: 1.5rem;
  }
}
html body .containerelcuartito {
  display: flex;
  padding: 10px;
  align-items: center;
  text-align: center;
}
html body .containerelcuartito .contentelcuartito {
  flex: 1;
  padding: 10px;
}
html body .containerelcuartito .contentelcuartito p {
  padding-top: 15%;
  font-size: 160%;
}
html body .containerelcuartito .imagecuartito {
  flex: 1;
  padding: 10px;
}
html body .containerelcuartito .imagecuartito img {
  max-width: 90%;
  height: auto;
  border-radius: 10%;
}
@media (max-width: 768px) {
  html body .containerelcuartito {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  html body .containerelcuartito .contentelcuartito, html body .containerelcuartito p {
    font-size: 40%;
  }
  html body .containerelcuartito .contentelcuartito, html body .containerelcuartito .imagecuartito {
    width: 70%;
  }
}
html body .galleryelcuartito {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
html body .galleryelcuartito img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
html body .lamezzeta {
  font-family: "REDRESSED";
  font-size: 15rem;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 10px;
}
@media (max-width: 768px) {
  html body .lamezzeta {
    font-size: 2rem;
  }
}
@media (max-width: 576px) {
  html body .lamezzeta {
    font-size: 1.5rem;
  }
}
html body .containerlamezzeta {
  display: flex;
  padding: 10px;
  align-items: center;
  text-align: center;
}
html body .containerlamezzeta .contentlamezzeta {
  flex: 1;
  padding: 10px;
}
html body .containerlamezzeta .contentlamezzeta p {
  padding-top: 15%;
  font-size: 160%;
}
html body .containerlamezzeta .imagelamezzeta {
  flex: 1;
  padding: 10px;
}
html body .containerlamezzeta .imagelamezzeta img {
  max-width: 90%;
  height: auto;
  border-radius: 10%;
}
@media (max-width: 768px) {
  html body .containerlamezzeta {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  html body .containerlamezzeta .contentlamezzeta, html body .containerlamezzeta p {
    font-size: 40%;
  }
  html body .containerlamezzeta .contentlamezzeta, html body .containerlamezzeta .imagelamezzeta {
    width: 70%;
  }
}
html body .gallerylamezzeta {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
html body .gallerylamezzeta img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
html body .guerrin {
  font-family: "REDRESSED";
  font-size: 15rem;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 10px;
}
@media (max-width: 768px) {
  html body .guerrin {
    font-size: 2rem;
  }
}
@media (max-width: 576px) {
  html body .guerrin {
    font-size: 1.5rem;
  }
}
html body .containerguerrin {
  display: flex;
  padding: 10px;
}
html body .containerguerrin .contentguerrin {
  flex: 1;
  padding: 10px;
}
html body .containerguerrin .contentguerrin p {
  padding-top: 15%;
  font-size: 200%;
}
html body .containerguerrin .imageguerrin {
  flex: 1;
  padding: 10px;
}
html body .containerguerrin .imageguerrin img {
  max-width: 80%;
  height: auto;
  border-radius: 10%;
}
@media (max-width: 768px) {
  html body .containerguerrin {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  html body .containerguerrin .contentguerrin, html body .containerguerrin p {
    font-size: 40%;
  }
  html body .containerguerrin .contentguerrin, html body .containerguerrin .imageguerrin {
    width: 65%;
  }
}
html body .galleryguerrin {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
html body .galleryguerrin img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
html body .fotoprincipalcarnepg5 {
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
  align-items: center;
}
@media (max-width: 768px) {
  html body .fotoprincipalcarnepg5 .imagen {
    width: 100%;
    height: auto;
  }
}
html body .flex-informacioncarnepg5 {
  display: flex;
  align-items: center;
}
html body .flex-informacioncarnepg5 .textocarnepg5 {
  padding: 50px;
  align-items: center;
  text-align: center;
  flex: 50%;
}
html body .flex-informacioncarnepg5 .textocarnepg5 h1 {
  padding: 10px;
  font-size: 10vw;
}
html body .flex-informacioncarnepg5 .textocarnepg5 p {
  padding: 10px;
  font-size: 1.3vw;
}
html body .flex-informacioncarnepg5 .fotoprincipal2carnepg5 {
  flex: 50%;
  padding: 10px;
}
html body .flex-informacioncarnepg5 .fotoprincipal2carnepg5 img {
  width: 40vw;
  border-radius: 5%;
}
@media (max-width: 768px) {
  html body .flex-informacioncarnepg5 .flex-informacioncarnepg5 {
    flex-wrap: wrap;
  }
  html body .flex-informacioncarnepg5 .textocarnepg5 {
    flex: 100%;
    margin-bottom: 3%;
  }
  html body .flex-informacioncarnepg5 .textocarnepg5 > h1 {
    font-size: 50vw;
  }
  html body .flex-informacioncarnepg5 .textocarnepg5 > p {
    font-size: 10vw;
  }
  html body .flex-informacioncarnepg5 .fotoprincipalcarnepg5 {
    flex: 100%;
  }
}
html body .donjulio {
  font-family: "REDRESSED";
  font-size: 15rem;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 10px;
}
@media (max-width: 768px) {
  html body .donjulio {
    font-size: 2rem;
  }
}
@media (max-width: 576px) {
  html body .donjulio {
    font-size: 1.5rem;
  }
}
html body .containerdonjulio {
  display: flex;
  padding: 10px;
}
html body .containerdonjulio .contentdonjulio {
  flex: 1;
  padding: 10px;
}
html body .containerdonjulio .contentdonjulio p {
  margin-top: 20%;
  padding: 10%;
  font-size: 250%;
  text-align: center;
}
html body .containerdonjulio .imagedonjulio {
  flex: 1;
  padding: 10px;
}
html body .containerdonjulio .imagedonjulio img {
  max-width: 90%;
  height: auto;
  border-radius: 10%;
}
@media (max-width: 768px) {
  html body .containerdonjulio {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  html body .containerdonjulio .contentdonjulio, html body .containerdonjulio p {
    font-size: 40%;
  }
  html body .containerdonjulio .contentdonjulio, html body .containerdonjulio .imagedonjulio {
    width: 70%;
  }
}
html body .gallerydonjulio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
html body .gallerydonjulio img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
html body .fogonasado {
  font-family: "REDRESSED";
  font-size: 15rem;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 10px;
}
@media (max-width: 768px) {
  html body .fogonasado {
    font-size: 2rem;
  }
}
@media (max-width: 576px) {
  html body .fogonasado {
    font-size: 1.5rem;
  }
}
html body .containerfogonasado {
  display: flex;
  padding: 10px;
  text-align: center;
  align-items: center;
}
html body .containerfogonasado .contentfogonasado {
  flex: 1;
  padding: 10px;
}
html body .containerfogonasado .contentfogonasado p {
  padding-top: 15%;
  font-size: 260%;
  text-align: center;
}
html body .containerfogonasado .imagefogonasado {
  flex: 1;
  padding: 10px;
}
html body .containerfogonasado .imagefogonasado img {
  max-width: 90%;
  height: auto;
  border-radius: 10%;
}
@media (max-width: 768px) {
  html body .containerfogonasado {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  html body .containerfogonasado .contentfogonasado, html body .containerfogonasado p {
    font-size: 40%;
  }
  html body .containerfogonasado .contentfogonasado, html body .containerfogonasado .imagefogonasado {
    width: 70%;
  }
}
html body .galleryfogonasado {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
html body .galleryfogonasado img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
html body .lacabrera {
  font-family: "REDRESSED";
  font-size: 15rem;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 10px;
}
@media (max-width: 768px) {
  html body .lacabrera {
    font-size: 2rem;
  }
}
@media (max-width: 576px) {
  html body .lacabrera {
    font-size: 1.5rem;
  }
}
html body .containerlacabrera {
  display: flex;
  padding: 10px;
  text-align: center;
  align-items: center;
}
html body .containerlacabrera .contentlacabrera {
  flex: 1;
  padding: 10px;
}
html body .containerlacabrera .contentlacabrera p {
  padding: 15%;
  font-size: 150%;
  text-align: center;
}
html body .containerlacabrera .imagelacabrera {
  flex: 1;
  padding: 10px;
}
html body .containerlacabrera .imagelacabrera img {
  max-width: 90%;
  height: auto;
  border-radius: 10%;
}
@media (max-width: 768px) {
  html body .containerlacabrera {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  html body .containerlacabrera .contentlacabrera, html body .containerlacabrera p {
    font-size: 40%;
  }
  html body .containerlacabrera .contentlacabrera, html body .containerlacabrera .imagelacabrera {
    width: 70%;
  }
}
html body .gallerylacabrera {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
html body .gallerylacabrera img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
html body .imagenfondopg7 {
  width: 99vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: url(../imagenes/fotofondo1pg7.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
html body .login-container {
  max-width: 300px;
  margin: 100px auto;
  padding: 20px;
  background-color: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
html body .login-container h2 {
  margin-bottom: 20px;
  color: white;
}
html body .login-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
html body .login-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
@media (max-width: 768px) {
  html body .login-container {
    width: 80%;
  }
}
html body .sobrenosotros {
  text-align: center;
  background: #000000;
  color: #a3a3a3;
  padding: 5% 10% 5% 10%;
  font-family: "URBANIST";
}
html body .sobrenosotros .sobrenosotros1 {
  font-size: 3rem;
}
html body .sobrenosotros p {
  font-size: 1.7rem;
  line-height: 3rem;
  font-family: "URBANIST";
}
html body .sobrenosotros .btn {
  display: inline-block;
  padding: 10px 10px;
  background-color: #6e9dbd;
  color: #fff;
  text-decoration: none;
  font-size: 3rem;
  border-radius: 10px;
  transition: background-color 0.3s;
}
html body .sobrenosotros .btn:hover {
  background-color: #2980b9;
}/*# sourceMappingURL=styles.css.map */